  <mat-toolbar color="Accent" >
  <mat-toolbar-row>
  
    <!--  <span>HOME</span> -->
     <a href="\"> <img src="../assets/img/mainlogo.jpg" width="180px" height="auto"></a>
     <span class="app-spacer"></span>
     <a mat-button routerLink="/registeration"><b>Register</b></a>
     <a mat-button routerLink="/login"><b>Login</b></a>
  </mat-toolbar-row>
</mat-toolbar>
<div class="app-main">
<img src="../assets/img/Salesforce 2 ServiceNow - blog&video.png" width="100%" height="50%">
</div>
<router-outlet></router-outlet>
